@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --page-background: hsl(218, 23%, 16%);
    --card-background: hsl(217, 19%, 24%);
    --advice-number-text: hsl(150, 100%, 66%);
    --advice-text-color: hsl(193, 38%, 86%);
    --dice-color: hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    background-color: var(--page-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advice-container {
    background-color: var(--card-background);
    width: 85%;
    height: 705%;
    max-height: 315px;
    min-height: 250px;
    margin-top: 4rem;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.advice-number {
    color: var(--advice-number-text);
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 4px;
}

.advice-area {
    text-align: center;
}

.advice-area p {
    color: var(--advice-text-color);
    font-size: 1.35rem;
}

.divider {
    display: flex;
    justify-content: center;
    height: 20px;
}

.divider svg {
    width: 100%;
    text-align:  center;
}

button {
    position: relative;
    bottom: 25px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dice-color);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 30px var(--dice-color)  ; 
}

button:active *{
    fill: rgb(255, 255, 255);
}

@media (min-width: 800px) {

    .advice-container {
        max-height: 400px;
        max-width: 700px;
        margin-top: 12rem;
    }

    .advice-number {
        font-size: 1.25rem;
        letter-spacing: 4px;
    }

    .advice-area p{
        font-size: 2rem;
    }

    button {
        height: 60px;
        width: 60px;
        bottom: 35px;
    }

}

.attribution {
    margin-top: auto;
    color: rgb(175, 175, 175);
}